  
<style>
    .header{
        background-color: #e31d3b;
        height:50px;
        display: block
    }
    .header-text{
        display: inline;
    }
    .header-image{
        float: right;
        margin-top: 4px;
        padding: 0 20px;
        font-size: 24px;
    }
    .header-image img{
        height: 40px
    }
    .header-text a{
        text-decoration: none;
        color: wheat;
        margin-top: 10px;
        padding: 0 20px;
        display: inline-block;
    }
/*------------------------navbar css starts here---------------------------------*/
    a:hover,
    a:focus {
        text-decoration: none;
        outline: none;
    }

    /*
        1.1 Header Area
        ****************************************************/

    /*Bootstrap Reset*/

    .navbar-nav>li>a {
        padding-top: 0;
        padding-bottom: 0
    }

    .mainmenu {
        background-color: transparent;
        border-color: transparent;
        margin-bottom: 0;
        border: 0 !important
    }

    .navbar-nav>li:last-child>a {
        padding-right: 0;
        margin-right: 0
    }

    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0 solid transition !important;
        border: 0 solid rgba(0, 0, 0, .15);
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    .navbar-nav .show .dropdown-menu>li>a {
        padding: 16px 15px 16px 25px;
    }


    .mainmenu a,
    .navbar-dark .navbar-nav>li>a,
    .mainmenu ul li a {
        color: #fff;
        font-size: 14px;
        text-transform: capitalize;
        padding: 16px 15px;
        display: block !important;
        overflow: hidden;
        white-space: nowrap;
    }

    .mainmenu .active a,
    .mainmenu .active a:focus,
    .mainmenu .active a:hover,
    .mainmenu li a:hover,
    .mainmenu li a:focus,
    .navbar-default .navbar-nav>.show>a,
    .navbar-default .navbar-nav>.show>a:focus,
    .navbar-default .navbar-nav>.show>a:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        outline: 0;
    }

    /*-----./ Main Menu-----*/

    .navbar-default .navbar-toggle {
        border-color: #fff
    }

    /*Toggle Button*/

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff
    }

    /*Toggle Button*/

    /*==========Sub Menu=v==========*/

    .mainmenu .collapse ul>li:hover>a {
        background: rgba(0, 0, 0, 0.5);
    }

    .mainmenu .collapse ul ul>li:hover>a,
    .navbar-default .navbar-nav .show .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .show .dropdown-menu>li>a:hover {
        background: rgba(0, 0, 0, 0.5);
    }

    .mainmenu .collapse ul ul ul>li:hover>a {
        background: rgba(0, 0, 0, 0.5);
    }

    .mainmenu .collapse ul ul,
    .mainmenu .collapse ul ul.dropdown-menu {
        background: #353535 !important;
    }

    .mainmenu .collapse ul ul ul,
    .mainmenu .collapse ul ul ul.dropdown-menu {
        background: #353535 !important;
    }

    .mainmenu .collapse ul ul ul ul,
    .mainmenu .collapse ul ul ul ul.dropdown-menu {
        background: #353535 !important;
    }

    /******************************Drop-down menu work on hover**********************************/

    .mainmenu {
        background: none;
        border: 0 solid;
        margin: 0;
        padding: 0;
        min-height: 20px;
        width: 100%;
    }

    @media only screen and (min-width: 767px) {
        .mainmenu .collapse ul li:hover>ul {
            display: block
        }
        .mainmenu .collapse ul ul {
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 250px;
            display: none
        }
        /*******/
        .mainmenu .collapse ul ul li {
            position: relative
        }
        .mainmenu .collapse ul ul li:hover>ul {
            display: block
        }
        .mainmenu .collapse ul ul ul {
            position: absolute;
            top: 0;
            left: 100%;
            min-width: 250px;
            display: none
        }
        /*******/
        .mainmenu .collapse ul ul ul li {
            position: relative
        }
        .mainmenu .collapse ul ul ul li:hover ul {
            display: block
        }
        .mainmenu .collapse ul ul ul ul {
            position: absolute;
            top: 0;
            left: -100%;
            min-width: 250px;
            display: none;
            z-index: 1
        }

    }

    @media only screen and (max-width: 767px) {
        .navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
            padding: 16px 15px 16px 35px
        }
        .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
            padding: 16px 15px 16px 45px
        }
    }

/*------------------------navbar css ends here-----------------------------------*/ 
    .user-details{
        color: #fff;
        font-size: 14px;
        text-transform: capitalize;
        padding: 16px 15px;
        display: inline !important;
        float: right;
        overflow: hidden;
        white-space: nowrap;    
    }
    </style>
<script>
    (function ($) {
            $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
                //if no child li has show class, remove the show class from parent opening the child
                if (!$(this).next().hasClass('show')) {
                    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
                }
                var $subMenu = $(this).next(".dropdown-menu");
                $subMenu.toggleClass('show');

                $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                    $('.dropdown-submenu .show').removeClass("show");
                });

                return false;
            });
        })(jQuery)
</script>

<div class="header">
    <h3 class="header-text"><a href='/'>Github First Trial Page</a></h3>
    <span class="header-image">
        <img src='img/Lillylogo.png'/>
    </span>
</div>


<nav role="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark mainmenu">
    <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse ">
        <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
        <ul class="nav navbar-nav dropdown">
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">ADMIN<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Master Data Entry<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="editConfiguration">Edit Configuration</a></li>
                            <li><a href="newPatch">Add/Edit Patch</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Patching Notification<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="massCommunication">Mass Communication</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Email Template<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="emailTemplate">Add/Edit Email Template</a></li>
                        </ul>
                    </li>
                    <li><a href="roleManagement">Role Management</a></li>
                </ul>
            </li>
            <!-- menu 2-------------------------------------------------------------------->
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">DATABASE PATCHING<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{! <li><a href="#">Schedule Patching</a></li>}}
                    <li><a href="adminsterPatching">Administer Patching</a></li>
                    <li><a href="prepatchwind">Preferred Patching Window</a></li>
                    {{!<li><a href="#">Cancel Patching</a></li>}}
                </ul>
            </li>
            <!-- menu 3-------------------------------------------------------------------->
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">UTILITIES<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="applicationPass">Database Password Management</a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">GDM Inventory Update<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="application-customer-management">Add/Remove Customer</a></li>
                            <li><a href="application-customer-replacement">Customer Replacement</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- menu 4-------------------------------------------------------------------->
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">REPORTS<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="patching_dashboard">Patching Dashboard</a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Custom Reports<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="patching_custom_report">Patching Custom Report</a></li>
                            <li><a href="custAuditReport">Customer Management Audit Report</a></li>
                            <li><a href="passwordAuditReport">Password Management Audit Report</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- menu item ends-------------------------------------------------------------------->
        </ul>
    </div>
    <span class="user-details">
        <i class="fas fa-user">&nbsp;&nbsp;</i>Welcome
        <em id="user_name" style="font-style: normal;"></em>
    </span>
</nav>


