
<div class="container-fluid">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 icon_box">
            <a href="/administerPatching" class="thumbnail col1" data-toggle="popover_info" data-trigger="hover"
            data-full="img1" data-content="Patching">
                <span class="icon_text">Patching</span>
                <img src="/img/patching.png" >
            </a>
        </div>
        <div class="col-md-4 icon_box">
            <a href="applicationPass" class="thumbnail col2" data-toggle="popover_info" data-trigger="hover" 
            data-full="img2" data-content="Password management">
                <span class="icon_text">Password Management</span>
                <img src="/img/password.png" >
            </a>
        </div>
        <div class="col-md-4 icon_box">
            <a href="application-customer-management" class="thumbnail col3" data-toggle="popover_info" data-trigger="hover" 
            data-full="img3" data-content="Customer Management">
                <span class="icon_text">Customer Management</span>
                <img src="/img/reports.png" >
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 info_div">
        <div id="patching_info" class="info_box alert" style="display:none;">
            <em style="font-weight:bold; font-size: 100%;">Administer Patching</em>
            <hr style="margin: 5px 0;">
            <p>
            It provides an enhanced approach towards different facets of Oracle and SQL Database Patch Scheduling by laying down the
            ability to select a time period for outage during which the patch will be applied. This comprises of a utility
            to:
            <ul>
                <li>Schedule/Reschedule Patching</li>
                <li>Cancel Patching</li>
                <li>File an exemption</li>
            </ul>
            </p>
        </div>
        <div id="pass_info" class="info_box alert" style="display:none;">
            <em style="font-weight:bold; font-size: 100%;">Password Management</em>
            <hr style="margin: 5px 0">
            <p>
            Allows you to smoothly administer your account. It aims to accomplish the process of account unlock and password reset of
            your Oracle account.
            <ul>
                <li>Individual Account</li>
                <li>Application Account</li>
            </ul>
            </p>
        </div>
        <div id="cust_info" class="info_box alert" style="display:none;">
            <em style="font-weight:bold; font-size: 100%;">Customer Management</em>
            <hr style="margin: 5px 0">
            <p>
            This menu helps to facilitate the task of modifying the listed customers as well as their roles/responsibilities for an application.
            <ul>
                <li>Add Customer</li>
                <li>Remove Customer</li>
            </ul>
            </p>
        </div>
        <div class="col-lg-1"></div>
        </div>
    </div>
</div>